a:link{
color:blue;
}

a:visited{
color:rgb(75, 128, 0);
}

a:hover{
color:gray;
}

a:active{
color:red;
}

.paragraph{
    color:rgb(140, 0, 255);
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}

.new{
    color:rgb(255, 72, 0);  
}

.boton{
    color:white;
    background: black;
    font-size: 60px;
    border: 2px solid aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    padding:20px;
}

/* button:hover */
.boton:hover{
    color:black;
    background: white;
}

.boton1{
    font-size: 100px;
    border: 10px double black;
    border-radius: 100px;
    padding:20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:50px;
}

.boton1:hover{
    background:green;
}

.link:hover{
    color:black;
}

img:hover {
    /* filter:blur(5px); */
    /* filter:grayscale(90%) */
    /* filter:sepia(80%) */
    /* filter:saturate(10%) */
    filter:opacity(0.5)
}

.texto{
    color:blue;
    text-shadow: 5px 5px gray;
    font-size: 40px;
    word-spacing:20px;
    letter-spacing:5px;
}